*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #575757; }

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(135deg, #fff200 0%, #fff200 50%, #575757 50%);
  position: fixed;
  box-shadow: 2px 0 4px #575757; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s, height 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before {
    transform: scaleX(1);
    height: 100%; }
  .side-nav__item:active::before {
    background-color: #fff200; }
  .side-nav__link:link, .side-nav__link:visited {
    display: flex;
    align-items: center;
    color: #575757;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10; }
  .side-nav__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    fill: currentColor; }
