*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.wrapper {
  display: flex;
  height: 100vh; }

.main-content {
  flex: 1 1 auto;
  overflow: auto; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #575757; }

.header__heading {
  font-size: 10rem;
  font-family: 'Great Vibes', 'Open Sans', sans-serif;
  align-self: center;
  color: #fff;
  text-shadow: 3px 5px 1px #575757, 3px 5px 1px #575757, 3px 5px 1px #575757, 3px 7px 1px #575757; }

.header__sub-heading {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 100;
  font-style: italic;
  text-transform: uppercase; }

.section-heading {
  padding: 5rem;
  display: flex;
  justify-content: center; }
  .section-heading__main {
    align-self: center;
    font-size: 2.6rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    letter-spacing: .2rem; }
  .section-heading__main::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #9b59b6;
    transition: width .3s ease-in-out; }
  .section-heading__main:hover::after {
    width: 100%; }

.footer__heading {
  font-size: 5rem;
  font-family: 'Great Vibes', 'Open Sans', sans-serif;
  align-self: center;
  color: #fff;
  text-shadow: 3px 2px 1px #575757, 3px 3px 1px #575757, 3px 3px 1px #575757, 3px 3px 1px #575757; }

.u-margin-bottom {
  margin-bottom: 12rem; }

.u-padding-top-bottom {
  padding-bottom: 4rem; }

.featured-venues-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.section-venue {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50vh; }

.header {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  background-image: linear-gradient(to right, rgba(60, 60, 60, 0.6), rgba(60, 60, 60, 0.6)), url("../img/salsa-1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  flex-direction: column;
  text-align: center; }

.header--venues {
  background-image: linear-gradient(to right, rgba(60, 60, 60, 0.6), rgba(60, 60, 60, 0.6)), url("../img/venues-header.jpg"); }

.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: linear-gradient(155deg, #fff200 0%, #fff200 50%, #575757 50%);
  box-shadow: 2px 0 4px #575757;
  z-index: 9999;
  max-width: 18.5rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s, height 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before {
    transform: scaleX(1);
    height: 100%; }
  .side-nav__item:active::before {
    background-color: #fff200; }
  .side-nav__link:link, .side-nav__link:visited {
    display: flex;
    color: #575757;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10; }
  .side-nav__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    fill: currentColor; }

.nav-footer {
  display: flex;
  flex-direction: column;
  align-items: center; }

.social-media {
  display: flex; }
  .social-media__link:link, .social-media__link:visited {
    display: flex;
    flex-direction: row;
    margin-right: 1rem; }
  .social-media__link:active {
    fill: red; }
  .social-media__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #fff200;
    transition: transform .2s ease-in, outline .1s .2s ease-out; }
  .social-media__icon:hover {
    outline: 1px solid #9b59b6;
    transform: scale(1.3); }

.legal {
  color: #fff;
  margin: 3rem 1rem;
  font-size: 1.1rem;
  text-align: center; }

.footer {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, rgba(60, 60, 60, 0.8), rgba(60, 60, 60, 0.8)), url("../img/salsa-2.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0; }
  .footer__nav li {
    display: inline;
    font-size: 1.4rem;
    font-weight: 100; }
  .footer__nav li:not(:last-child) {
    margin-right: 2rem; }
  .footer__nav {
    display: flex;
    align-items: center;
    margin: 0 auto; }
  .footer__item {
    list-style: none; }
  .footer__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s; }
  .footer__link:hover {
    color: #9b59b6; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .45;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn {
  align-self: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  background-color: #fff200;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  border: none;
  box-shadow: 0 2px 2px #3c3c3c;
  transition: transform .3s, box-shadow .3s;
  text-align: center; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s; }
  .btn--visible {
    padding: 2rem 4rem;
    color: #575757; }
  .btn--invisible {
    display: inline-block;
    position: absolute;
    padding: 2rem 4rem;
    left: 0;
    top: -100%; }
  .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 2px #3c3c3c; }
  .btn:active {
    transform: scale(1);
    box-shadow: 0 0.5px 0.5px #3c3c3c; }
  .btn:hover .btn--visible {
    transform: translateY(100%); }
  .btn:hover .btn--invisible {
    top: 0;
    background-color: #573980; }

.ft-events {
  display: flex;
  flex-direction: column;
  align-items: center; }

.ft-events-card {
  display: flex;
  box-shadow: 0 1rem 1rem rgba(87, 87, 87, 0.55);
  font-size: 1.4rem;
  margin: 3rem 0; }
  .ft-events-card__information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    flex-direction: row;
    max-width: 50rem; }
  .ft-events-card__date {
    background-color: #fff200;
    color: #3c3c3c;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 2rem; }
  .ft-events-card__day {
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2; }
  .ft-events-card__month {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase; }
  .ft-events-card__year {
    font-style: italic; }
  .ft-events-card__instructor {
    overflow: hidden;
    width: 15rem; }
    .ft-events-card__instructor--1 {
      background-image: url(../img/mitsue.jpg);
      background-size: cover; }
  .ft-events-card__instructor:hover .ft-events-card__name {
    opacity: 1;
    transform: translateX(0); }
  .ft-events-card__name {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(87, 87, 87, 0.8);
    font-size: 2rem;
    font-weight: 600;
    transform: translateX(-10rem);
    opacity: 0;
    transition: all .3s ease-in;
    width: 100%;
    height: 100%; }
  .ft-events-card__title {
    text-transform: uppercase;
    width: 100%;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    align-self: center;
    background-color: #575757;
    color: #fff; }
  .ft-events-card__info {
    display: flex;
    align-self: center; }
  .ft-events-card__info:not(:last-child) {
    margin-bottom: .5rem; }
  .ft-events-card__image {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem; }
  .ft-events-card__description {
    margin-right: 2rem;
    align-self: center;
    padding: 1rem 0; }
  .ft-events-card__description:not(:last-child) {
    margin-right: 2rem; }
  .ft-events-card__price {
    margin-left: 1rem;
    font-size: 1.1rem;
    align-self: flex-end;
    border-radius: 5px;
    background-color: #c02020;
    color: #fff;
    padding: 0 1rem; }

.venue-card {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  border-radius: 4px;
  overflow: hidden;
  flex: 0 0 30rem;
  box-shadow: 0 1rem 1rem rgba(87, 87, 87, 0.15);
  transition: transform 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  cursor: pointer; }
  .venue-card:hover {
    transform: scale(1.05); }
  .venue-card:hover .venue-card__heading {
    background-position: 285px; }
  .venue-card__heading {
    font-family: 'Great Vibes';
    font-size: 4rem;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #ffd600;
    color: #fff;
    background: linear-gradient(90deg, #fff200 0%, #fff200 10%, #575757 10%);
    transition: all .4s ease-in; }
  .venue-card__picture {
    position: relative;
    background-size: cover;
    height: 20rem;
    background-blend-mode: screen; }
    .venue-card__picture--1 {
      background-image: linear-gradient(to bottom, #3c3c3c, #573980), url(../img/salsa-2.jpg); }
    .venue-card__picture--2 {
      background-image: linear-gradient(to bottom, #3c3c3c, #573980), url(../img/salsa-1.jpg); }
  .venue-card__description {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    flex: 1; }
  .venue-card__list {
    list-style: none; }
  .venue-card__item:not(:last-child) {
    margin-bottom: .5rem; }
  .venue-card__item--info {
    display: inline-block;
    width: 80px;
    text-align: center;
    color: #fff;
    margin-right: 1rem;
    background-color: #575757;
    border-radius: 5px;
    padding: .2rem .5rem; }

.venue-card {
  margin: 5rem 6rem; }

.popular-venue {
  position: absolute;
  font-weight: 100;
  top: 2rem;
  right: 2rem;
  color: #3c3c3c;
  background-color: #fff200;
  border-radius: 8px;
  padding: 0 .5rem;
  box-shadow: 0.1rem 0.1rem 0.1rem #fff, 0.1rem 0.1rem 0.1rem #fff; }

.location-venue {
  position: absolute;
  font-weight: 100;
  bottom: 3rem;
  left: 0rem;
  color: #fff;
  background-color: #575757;
  padding: 0 .5rem; }

.venues-cta {
  display: flex;
  flex-direction: column;
  background-color: #575757;
  padding: 4rem;
  color: #fff;
  box-shadow: 0 2rem 2rem rgba(87, 87, 87, 0.65);
  border: 3px #ffffff solid;
  border-radius: 3px;
  opacity: .9; }
  .venues-cta__heading {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    margin-bottom: 2rem; }

.event-cta {
  display: flex;
  justify-content: center; }
