// COLORS
$color-primary: #fff200;
$color-primary-light: #fffa65;
$color-primary-dark: #ffd600;

$color-secondary: #9b59b6;

$color-grey-dark: #575757;
$color-white: #fff;
$color-black: #000;

//FONT-SIZE
$default-font-size: 1.6rem;

