// COLORS
$color-primary: #fff200;
$color-primary-light: #fffa65;
$color-primary-dark: #ffd600;

$color-secondary: #9b59b6;
$color-secondary-dark: #573980;

$color-grey-dark: #575757;
$color-white: #fff;
$color-black: #3c3c3c;

//FONT-SIZE
$default-font-size: 1.4rem;
$font-primary: 'Open Sans';

//BOX SHADOW
$box-shadow-light: 0 1rem 1rem rgba($color-grey-dark, .15);
