.header {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    background-image: linear-gradient( to right, rgba($color-black, 0.6), rgba($color-black, 0.6)), url("../img/salsa-1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex-direction: column;
    text-align: center;
    &--venues {
        background-image: linear-gradient( to right, rgba($color-black, 0.6), rgba($color-black, 0.6)), url("../img/venues-header.jpg");
    }
    &--events {
        background-image: linear-gradient( to top right, rgba($color-black, 0.6), rgba($color-primary, 0.6)), url("../img/event-header.jpg");
         background-position: 10% 60%;
    }
    &--studio-pepe-2 {
        background-image: linear-gradient( to top right, rgba($color-black, 0.6), rgba($color-primary, 0.6)), url("../img/event-header.jpg");
        height: 300px;
    }
}

.map {
    width: 100%;
    height: 30rem;
}
