.venues-cta {
    display: flex;
    flex-direction: column;
    background-color: $color-grey-dark;
    padding: 4rem;
    color: $color-white;
    box-shadow: 0 2rem 2rem rgba($color-grey-dark, .65);
    border: 3px #ffffff solid;
    border-radius: 3px;
    opacity: .9;
    &__heading {
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 100;
        margin-bottom: 2rem;
    }
}

.event-cta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &--bgcolor {
        padding: 3rem 0;
        background-color: #cacaca;
    }
}