.venues-cta {
    display: flex;
    flex-direction: column;
    background-color: $color-grey-dark;
    padding: 4rem;
    color: $color-white;
    box-shadow: 0 2rem 2rem rgba($color-grey-dark, .65);
    opacity: .9;
    &__heading {
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 100;
    }
    &__btn {
        align-self: center;
        font-size: 1.4rem;
        text-transform: uppercase;
        background-color: $color-primary;
        color: $color-white;
        border-radius: 100px;
        margin-top: 2rem;
        cursor: pointer;
        outline: none;
        position: relative;
        overflow: hidden;
        border: none;
        transition: transform .3s, box-shadow .3s;
        &>* {
            display: inline-block;
            height: 100%;
            width: 100%;
            transition: all .2s;
        }
        &-visible {
            padding: 2rem 4rem;
            color: $color-grey-dark;
        }
        &-invisible {
            display: inline-block;
            position: absolute;
            padding: 2rem 4rem;
            left: 0;
            top: -100%;
        }
        &:hover {
            transform: scale(1.05);
            box-shadow: 1px 2px 2px $color-black;
        }
        &:active {
            transform: scale(1);
            box-shadow: .5px .5px .5px $color-black;

        }
        &:hover &-visible {
            transform: translateY(100%);
        }
        &:hover &-invisible {
            top: 0;
            background-color: $color-secondary;
        }
    }
}