.venue-card {
    font-size: 1.3rem;
    border-radius: 4px;
    overflow: hidden;
    height: 45rem;
    width: 30rem;
    box-shadow: 0 1rem 1rem rgba($color-grey-dark, .15);
    transition: transform .3s cubic-bezier(0.47, 0, 0.745, 0.715);
    cursor: pointer;
    &__heading {
        font-family: 'Great Vibes';
        font-size: 4rem;
        padding: 1rem;
        text-align: center;
        border-bottom: 1px solid $color-primary-dark;
        color: $color-white;
        background: linear-gradient(90deg, $color-primary 0%, $color-primary 10%, $color-grey-dark 10%);
        transition: all .4s ease-in;
    }
    &__heading:hover {
        background-position: 285px;
    }
    &__picture {
        position: relative;
        background-size: cover;
        height: 20rem;
        background-blend-mode: screen;
        &--1 {
            background-image: linear-gradient(to bottom, rgba($color-black, 1), rgba($color-secondary, 1)), url(../img/salsa-2.jpg);
        }
        &--2 {
            background-image: linear-gradient(to bottom, rgba($color-black, 1), rgba($color-secondary, 1)), url(../img/salsa-1.jpg);
        }
    }
    &__description {
        display: flex;
        padding: .5rem 2rem;
        background-color: $color-white;
    }

    &__list {
        list-style: none;
    }

    &__item {
  
    }

    &__item-info {
        display: inline-block;
        width: 80px;
    }
}

.venue-card:hover {
    transform: scale(1.05);
}

.venue-card:not(:last-child) {
    margin-right: 8rem;
}

.popular-venue {
    position: absolute;
    font-weight: 100;
    top: 2rem;
    right: 2rem;
    color: $color-black;
    background-color: rgba($color-primary, 1);
    border-radius: 8px;
    padding: 0 .5rem;
    box-shadow: .1rem .1rem .1rem $color-white, .1rem .1rem .1rem $color-white;
}

.location-venue {
    position: absolute;
    font-weight: 100;
    bottom: 3rem;
    left: 0rem;
    color: $color-white;
    background-color: rgba($color-grey-dark, 1);
    padding: 0 .5rem;
}

