.venue-card {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    border-radius: 4px;
    flex: 0 0 30rem;
    box-shadow: 0 1rem 1rem rgba($color-grey-dark, .15);
    transition: transform .3s cubic-bezier(0.47, 0, 0.745, 0.715);
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
    }
    &:hover &__heading {
        background-position: 285px;
    }
    &__heading {
        font-family: 'Great Vibes';
        font-size: 4rem;
        padding: 1rem;
        text-align: center;
        border-bottom: 1px solid $color-primary-dark;
        color: $color-white;
        background: linear-gradient(90deg, $color-primary 0%, $color-primary 10%, $color-grey-dark 10%);
        transition: all .4s ease-in;
        transform: scale(1.05);
        border-radius: 5px;
    }
    &__picture {
        position: relative;
        background-size: cover;
        height: 20rem;
        background-blend-mode: screen;
        border-radius: 4px;
        &--1 {
            background-image: linear-gradient(to bottom, rgba($color-black, 1), rgba($color-secondary-dark, 1)), url(../img/salsa-2.jpg);
        }
        &--2 {
            background-image: linear-gradient(to bottom, rgba($color-black, 1), rgba($color-secondary-dark, 1)), url(../img/salsa-1.jpg);
        }
    }
    &__description {
        padding: 1rem 1.5rem;
        display: flex;
        align-items: center;
        flex: 1;
    }
    &__list {
        list-style: none;
    }
    &__item {
        position: relative;
    }
    &__item:not(:last-child)::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -4px;
        height: 1px;
        width: 50%;
        transform: translateX(-50%);
        background-color: $color-grey-dark;
        border-radius: 60%;
        opacity: .5;
    }
    &__item:not(:last-child) {
        margin-bottom: 1rem;
    }
    &__item--info {
        display: inline-block;
        width: 3rem;
        text-align: center;
        color: $color-white;
        margin-right: .2rem;
        background-color: $color-secondary-dark;
        border-radius: 5px;
        padding: .2rem .5rem;
        transition: all .3s ease-in;
    }

    &__item:hover &__item--info {
        background-color: $color-secondary;
    }
}

.venue-card {
    margin: 5rem 6rem;
}

.popular-venue {
    position: absolute;
    font-weight: 100;
    top: 2rem;
    right: 2rem;
    color: $color-black;
    background-color: rgba($color-primary, 1);
    border-radius: 8px;
    padding: 0 .5rem;
    box-shadow: .1rem .1rem .1rem $color-white, .1rem .1rem .1rem $color-white;
    opacity: .92;
}

.location-venue {
    position: absolute;
    font-weight: 100;
    bottom: 3rem;
    left: 0rem;
    color: $color-white;
    background-color: rgba($color-grey-dark, 1);
    padding: 0 .5rem;
    opacity: .8;
}